*, body{
    margin: 0;
    padding: 0;
 

}
.container{
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}
.form-group{
    width: 60%;
}
form{
    margin-top: 30px;
}
.btn{
    margin-top: 12px;
}