{% extends "bootstrap/base.html" %}
{% block title %} {% endblock %}
  {% block head %}
    {{ super() }}
      <link
          rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css')}}"
      />
  {% endblock %}

  <body>
    {% block content %}{% endblock %}
    <!-----Prevent form resubmission on refresh------>
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
      </script>
  </body>
</html>
